* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
    color: var(--text);
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: rgb(77, 17, 17);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    width: 37rem;
    height: 58rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.image {
    border-radius: 15px;
}
