* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem auto;
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 27rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.image {
    border-radius: 15px;
}

.svg {
    align-self: center;
    width: 5rem;
}